.skill_col {
  height: 100px;
  width: auto;
}

.skill_logo {
  height: 100%;
  width: 100%;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 2;
  text-decoration: underline;
}
